.header{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 325px;
}

.enlace{
    background-color: rgb(61, 166, 170);
    padding: 10px;
    margin-bottom: 70px;
    border-radius: 15px;
}

.me{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 30px;
}

body{
    background-color: burlywood;
}

.logo{
    border-radius: 50%;
    width: 7%;
    height: 7%;
    margin-right: 500px;
}

.header a{
    text-decoration: none;
    color: aliceblue;
}

.galery{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.contacto{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.fotos{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
    width: 85%;
    margin-bottom: 25px;
    border-radius: 35px;
}
.flex{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 30%;

}

.programador{
    border-radius: 50%;
    width: 25%;
    margin-right: 300px;
}

.sobremi{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.diseñamos{
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.diseñamos:hover{
    background-color: rgb(230, 150, 46);
}

.asesoramos{
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.asesoramos:hover{
    background-color: rgb(230, 150, 46);
}

.consultas{
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.consultas:hover{
    background-color: rgb(230, 150, 46);
}

.contact{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.testo{

    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    margin-left: 800px;
    margin-right: 800px;
}

.boton{
    background-color: rgb(106, 197, 106);
    padding: 6px;
    border-radius: 10px;
}

.boton:hover{
    background-color: rgb(87, 177, 87);
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-right: 650px;
    margin-left: 50px;
}

.persona{
    width: 50px;
    height: 50px;
}
.lenguajes{
    width: 200px;
    height: 300px;
    padding: 100px;
}