<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/portfolio.css">
</head>
<body>
<header class="header">
    <img class="logo" src="./imagenes/Logo Adrián copia.png" alt="">
    <div class="enlace">
        <nav><a href="">HOME</a></nav>
    </div>
    <div class="enlace">
        <nav><a href="">SOBRE MÍ</a></nav>
    </div>
    <div class="enlace">
        <nav><a href="">GALERIA</a></nav>
    </div>
    <div class="enlace">
        <nav><a href="">SERVICIOS</a></nav>
    </div>
    <div class="enlace">
        <nav><a href="5">CONTACTO</a></nav>
    </div>
</header>
<section>
    <div class="me" th:each="sobremi : ${Sobremi}">
        <h1 class="sobremi" th:text="${sobremi.getNombre()}"></h1>
        <p class="testo" th:text="${sobremi.getDescripcion()}"></p>
        <img class="programador" th:src="${sobremi.getImg()}" alt="">
    </div>
    <div class="galeria">
        <div class="galery">
            <h1>GALERIA</h1>
        </div>

        <div class="fotos" >
            <div th:each="galeria : ${Galeria}">
                <img class="fotos" th:src="${galeria.getImg()}" alt="">
            </div>
        </div>
    </div>
    <div>
        <div class="services">
            <h1>Servicios</h1>
        </div>
        <div class="flex" th:each="lenguajes : ${Lenguajes}">
                <img class="lenguajes" th:src="${lenguajes.getImg()}" alt="">
        </div>

    </div>
    <div class="contact">
        <div class="contacto">
            <h1>Contacto</h1>
        </div>
        <form action="/" method="post">

            <label for="nombre">Nombre :</label>
            <br>
            <input type="text" placeholder="Escribe tu nombre" id="nombre" name="nombre">
            <br>
            <label for="email">Correo electrónico :</label>
            <br>
            <input type="text" placeholder="Escribe tu correo electrónico" id="email" name="email">
            <br>
            <label for="mensaje">Mensaje:</label>
            <br>
            <textarea id="mensaje" placeholder="Escriba su mensaje" name="mensaje" rows="4" ></textarea>
            <br>
            <input class="boton" type="submit" value="Enviar">

        </form>
    </div>
    <div class="footer">
        <img class="logo" src="./imagenes/Logo Adrián copia.png" alt="">
        <img class="persona" src="./imagenes/persona.png" alt="">
        <p>Email: adrianvegamerino@gmail.com</p>
        <img class="persona" src="./imagenes/persona.png" alt="">
        <p>Tlfn:+34 669 12 87 71</p>
    </div>
</section>
</body>
</html>